*{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    background-color: rgb(255, 255, 209);
}

.main{
    background-color: rgb(255, 187, 187);
    height: 550px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid rgb(75, 132, 255);
    border-radius: 15px;
}

.main button{
    position: relative;
    height: 70px;
    width: 70px;
    top: 5%;
    left: 4%;
    margin: 15px 10px;
    padding-inline: 0px 0px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(173, 174, 255);
    color: white;
}

.main button:hover{
    background-color: orange;
}

#textField{
    position: relative;
    top: 6%;
    left: 4%;
    background-color: white;
    text-align: right;
    height: 50px;
    width: 420px;
    margin: 15px 10px;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
}

#equal{
    position: absolute;
    top: 60%;
    left: 79%;
    height: 172px;
}

.main p{
    /* background-color: yellow; */
    position: absolute;
    height: 30px;
    width: 180px;
    margin: 0px 0px;
    top: 1%;
    left: 30%;
    padding-inline: 10px 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: black;

}